{
	"AWSEBDockerrunVersion": "1",
	"volumes": [{
        "name": "spool",
        "host": {
            "sourcePath": "/efs/rapidpro/courier/spool"
        }
    }],
	"mountPoints": [{
		"sourceVolume": "spool",
		"containerPath": "/var/spool/courier",
		"readOnly": false
	}],
	"Image": {
		"Name": "REGISTRY/IMAGE:TAG",
		"Update": "true"
	},
	"Ports": [{
		"ContainerPort": "80"
	}]
}