{
	"AWSEBDockerrunVersion": "1",
	"Image": {
		"Name": "REGISTRY/IMAGE:TAG",
		"Update": "true"
	},
	"Ports": [{
		"ContainerPort": "80"
	}],
    "Volumes": [
        {
            "HostDirectory": "/efs/rapidpro/courier/spool",
            "ContainerDirectory": "/var/spool/courier"
        }
    ]
}